.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #7895CB;
    width: 350px;
    height:550px;
    border-radius: 30px;
    justify-content: center;
}
.calculadora td button{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    font-size: larger;
    background-color: #C5DFF8 ;
    border-color:#4A55A2 ;
    font-family:fantasy;
}
#txtResultado{
    display: block;
    text-align: center;
    font-size: medium;
    margin-bottom: 50px;
    width: 320px;
    height: 70px;
    line-height: normal;
    background-color: aliceblue;
    border-radius: 20px;
}

.btnreset{
    justify-content: center;
}
